<app-detalle *ngIf="clienteSelect" [cliente]="clienteSelect"></app-detalle>
<div class="card border-primary my-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>
    <div class="my-2 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" [routerLink]="['/clientes/form']" class="btn btn-primary rounded" type="button">Crear Cliente</button>
    </div>
    <div *ngIf="clientes?.length == 0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
      <thead>
        <tr>
          <th *ngIf="authService.hasRole('ROLE_USER')">id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Correo</th>
          <th>Fecha</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <img style="width: 64px; cursor: pointer" (click)="abrirModal(cliente)" *ngIf="cliente?.foto" src="http://localhost:8080/api/uploads/img/{{cliente.foto}}" class="img-thumbnail rounded" alt="{{cliente.foto}}">
            <!--https://www.iconfinder.com/ para bajar iconos cheveres-->
            <img style="width: 64px; cursor: pointer" (click)="abrirModal(cliente)" *ngIf="!cliente?.foto" src="http://localhost:8080/imgen/notUser.png" class="img-thumbnail rounded" alt="Sin foto">

          </td>
          <td>{{cliente.name}}</td>
          <td>{{cliente.apellido | uppercase}}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.createAt | date:"EEEE dd, MMM yyyy"}}</td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')"><button type="button" name="button" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary">Editar</button></td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')"><button type="button" name="button" [routerLink]="['/clientes/']" (click)="delete(cliente)" class="btn btn-danger">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
    <app-paginator *ngIf="paginador" [paginador]="paginador"> </app-paginator>
  </div>
</div>
